.heading2{
    position: relative;
    left: 400px;
    top: -60px;
}

#artist-form{
    float: right;
    position: relative;
    top: -90px;
}

.jumbotron{
    color: red;
    background-color: black;
}

body{
    background-image: url("../images/halftone-yellow.png");
}

#giphs{
    background-color: beige;
    width: 900px;
    margin: auto;
}

img{
    display: inline;
    margin: 10px;
}